/* Formatting for the borders */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Primary color for the background of the page */
body {
    background-color: #d9dcd6;
}

/* Formatting for all header content */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Two colored header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* the off colored SEO in the Horiseon title */
header h1 .word {
    color: #a2dd33;
}

/* nav bar styling */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}

/* formatting for the nav bar options */
nav li {
    display: inline-block;
    margin-left: 25px;
}

/*colors for the nav bar links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Primary text size */
p {
    font-size: 16px;
}

/* large meeting picture */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* formatting for the SEO picture */
.float-left {
    float: left;
    margin-right: 25px;
}

/* formatting for the ORM picture */
.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* additional info that floats right */
.benefits {
    margin-right: 20px;
    padding: 39px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Text content formatting for the side bar */
.side {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Block title headers for the side bar */
.side h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Images that are in the sidebar on the right side of the screen */
.side img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* primary content */
.seo {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Image above the SEO section */
.seo img {
    max-height: 200px;
}

/* SEO header position */
.seo h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer section begins */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Header at bottom "Made with /by Horrison */
.footer h2 {
    font-size: 20px;
}